html, 
body {
    height: 100%;
    font-size: 16px;
    font-family: 'Cubano';
    background: url('../img/pattern.png') center center;
}

/* FONT FACES */
@font-face {
    font-family: 'Cubano';
    src: local('Cubano.ttf'), url('Cubano.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito-Regular';
    src: local('Nunito-Regular.ttf'), url('Nunito-Regular.ttf') format('truetype');
}

/* Section Cover */
#cover {
    height: 130%;
    background: url(../img/trees.jpg) center;
    background-size: cover;
    color: white; 
}

.na {
    background-color: rgba(0, 0, 0, 0.4);
}

.wall-sticker {
    background: rgba(0, 0, 0, 0.4);
    padding: 14rem 20rem 16rem 3rem;
    font-family: 'Cubano';
    font-size: 3.5rem;
    color: white;
}
.motto {
    font-family: 'Cubano';
    font-size: 2rem;
    margin-top: 245px;
    margin-left: 350px;
    text-align: center;
}


/* SPANS */
.bold-green {
    color: rgba(19, 128, 36, 0.9);
}

.green-underline {
    border-bottom: 1px solid rgba(19, 128, 36, 0.9);
}


/* Buttons */
.btn-lg,
.btn-outline-success {
    width: 140px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid rgba(19, 128, 36, 1);
    transition: 0.5s;
    font-family: 'Nunito-Regular';
}

.btn-outline-success {
    width: 90px;
}

.btn-lg:hover,
.btn-lg:focus,
.btn-lg:active,
.btn-outline-success:hover,
.btn-outline-success:focus,
.btn-outline-success:active {
    background-color: rgba(19, 128, 36, 0.54);
    border: 1px solid rgba(19, 128, 36, 0);
    transition: 0.5s;
}

.fa-arrow-down {
    margin-left: 35rem;
    margin-top: 35px;
    font-size: 1.8rem;
    color: white;
    transition: 0.3s;
}

.fa-arrow-down:hover {
    color:  rgba(19, 128, 36, 0.54);
    transition: 0.3s;
}

/* Navbar */
.navbar-brand {
     font-family: 'Cubano';
     padding-right: 15px;
}

#main-nav {
    font-family: 'Nunito-Regular';
}

#main-nav li a {
    border-bottom: 1px solid transparent;
    transition: 0.5s;
}

#main-nav li a:hover {
    border-bottom: 1px solid green;
    transition: 0.5s;
}

/* Section Content */
.sc {
    margin-top: 0;
    padding: 5rem 0;
    background: url('../img/pattern.png') center center;
}

.square {
    text-align: center; 
}

.square i {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 1rem;
    transition: 0.3s;
}

.square i:hover {
    color: rgba(19, 128, 36, 1);
    transition: 0.3s;
}

.square p {
    padding-top: 1rem;
    font-family: 'Nunito-Regular';
    font-size: 1.2rem;
}

.green-hr {
    border-top: 1px solid rgba(19, 128, 36, 1);
    width: 150px;
    background-color: rgba(19, 128, 36, 1);
}

.heading,
.under-heading {
    text-align: center;
}

/* Section Timeline */
.section-timeline {
    background-color: white;
    padding: 5rem 5rem 5rem 5rem;
}

.timeline {
    list-style: none;
    padding: 20px 0 80px;
    padding-top: 50px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: "";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 50%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    box-sizing: 0px 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline p {
    font-family: 'Nunito-Regular';
    font-weight: 700;  
}

.timeline > li:not(.timeline-inverted){
    padding-right: 90px;
}

.timeline > li.timeline-inverted {
    padding-left: 90px;
}

.timeline > li > .timeline-badge {
    font-size: 1rem !important;
    color: #000;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: rgba(19, 128, 36, 0.82);
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.fa-clock {
    padding-right: 3px;
}

/* .timeline > li:first-child {  To select the first element */
/*  */
/* } */

/* Parallax section */
#section-parallax {
    text-align: center;
    background: url('../img/trees.jpg') center repeat fixed;
    padding: 140px 0;
    background-size: cover;
    color: white; 
}

.parallax-btn {
    width: 200px;
    margin: 30px auto 0;
}

/* Cards Section */
#section-cards h2,h4,h6 {
    text-align: center;
    margin-top: 10px;
}

#section-cards {
    padding: 5rem 0;
}
.card {
    margin-top: 3rem;
    height: 100%;
}

.card a {
    color: rgba(19, 128, 36, 0.9);
    transition: 0.5s;
    margin-left: 30px;
    
}

.card a:hover {
    color: rgb(19, 128, 36);
    transition: 0.5s;
}

.card img {
    height: 180px;
    width: 100%;
    transition: 1s;
}

.card img:hover {
    transform: scale(0.98);
    transition: 1s
}

.card p {
    text-align: center;
}

/* Section Numbers */
.section-numbers {
    background-color: white;
    padding: 5rem;
}

h2 {
    text-align: center;
}

.num-content {
    display: table;
    font-size: 20px;
    line-height: 20px;
    height: 140px;
    width: 140px;
    background: rgba(19, 128, 36, 1);
    border-radius: 100px;
    color: white;
    transition: 0.3s;
}

.num .num-content {
    display: table-cell;
    vertical-align: middle;
}

.num {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-left: 80px;
}

.num-content p {
    padding-top: 15px;
}

.num-content:hover {
    color: #222;
    transition: 0.3s;
}

/* Section Testimonials */
.section-testimonials {
    padding-top: 5rem; 
     
 }
 
.testimonial {
     margin-top: 5rem;
     padding-bottom: 5rem;
   }
 
.mimg,
.simg,
.aimg {
     width: 110px;
     height: auto;
     border-radius: 50%;
      transition: 0.5s;
    margin-left: 10px;
 }
 
.mimg:hover,
.simg:hover,
.aimg:hover {
     transition: 0.5s;
     transform: scale(0.95);
     
 }
 
blockquote {
     font-family: 'Nunito-Regular';
 }
 
.fa-quote-right {
     margin-right: 10px;
     float: right;
 }
 
.testimonials-hr {
     border-top: 1px solid rgba(19, 128, 36, 1);
     width: 260px;
     background-color: rgba(19, 128, 36, 1);
     
 }

 /* Section Contact */
.section-contact {
     background-color: white;
     padding-top: 10rem;
     padding-bottom: 10rem;
 }

 #contact .control-label {
    font-size: 20px;
    line-height: 80%;
    margin-top: 10px;
 }

.form-control {
    font-size: 18px;
}

.form-horizontal {
    padding-top: 5rem;
}

textarea:focus, input:focus {
    border-color: rgba(19, 128, 36, 0.54) !important;
    box-sizing: 0 1px 1px rgba(0,0,0,0.75) inset, 0 0 1px rgba(231,7660,0.05) !important;
    outline: 0 none;
}

#contact .btn.btn-success {
    background-color: rgba(19, 128, 36, 1);
    border: 1px solid rgba(19, 128, 36, 1);
    font-size: 20px;
    margin-top: 10px;
    margin-left: 103px;
    transition: 0.5s;
}

#contact .btn.btn-success:hover {
    background-color: rgba(19, 128, 36, 0.9);
    border: 1px solid rgba(19, 128, 36, 1);
    transition: 0.5s;
}

/* Footer */
footer {
    background-color: #222;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
}

.social-links {
    list-style: none;
    float: right;
    margin-top: 20px;
}

.social-links li {
    display: inline-block;
    margin-right: 20px;
    margin-top: 30px;
    padding-right: 25px;
}

.social-links li:last-child {
    margin-right: 0;
}

.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    font-size: 120%;
    transition: 0.5s;
}

.fa-facebook-square:hover {
    color: #3b5998;
    transition: 0.5s;
}

.fa-google-plus-square:hover {
    color: #dd4b39;
    transition: 0.5s;
}

.fa-twitter-square:hover {
    color: #00aced;
    transition: 0.5s;
}

.fa-instagram:hover {
    color: #517fa4;
    transition: 0.5s;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 40px;
    font-size: 15px;
}

.fa-chevron-circle-up {
    margin-top: 30px;
    color: rgba(19, 128, 36, 1);
    transition: 0.5s;
}

.fa-chevron-circle-up:hover {
    color: rgba(19, 128, 36, 0.9);
    transition: 0.5s;
}

/* Responsive */
@media only screen and(max-width: 1920px){
    .wall-sticker{
        font-size: 5rem;
        padding: 16rem 20rem 10rem 3rem;
    }
}

@media only screen and(max-width: 1200px){
    .fa-facebook-square,.fa-instagram,.fa-twitter-square,.fa-google-plus-square{
        font-size: 43px;
    }
}
@media only screen and (max-width: 1024px) {
    .navbar {
        font-size: 15px;
    }
    
    .fa-arrow-down {
        position: absolute;
        right: 135px;
    }
    
    .mimg,
    .simg,
    .aimg {
        width: 85px;
        height: 85px;
    }
    
    .testimonials-hr {
        width: 210px;
    }
    
    
    .fa-facebook-square,
    .fa-twitter-square,
    .fa-google-plus-square,
    .fa-instagram {
        font-size: 20px;
    }
    
}


@media only screen and (max-width: 992px) {
    .moto {
        font-size: 2.2rem;
    }
}


@media only screen and (max-width: 768px) {
    .motto {
        display: none;
    }
    
    .fa-arrow-down {
        position: absolute;
        right: 60px;
        top: 150px;
    }
    
    
    .mimg,
    .aimg,
    .simg {
        width: 65px;
        height: 65px;
    }
    
    .num {
        margin-left: 0;
    }
    
    .fa-facebook-square,
    .fa-twitter-square,
    .fa-google-plus-square,
    .fa-instagram {
        font-size: 30px;
    }
    
}
    
.social-links li {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    padding-right: 15px;
}

@media only screen and (max-width: 480px) {
    
    .testimonial {
        margin-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
    
    .num {
        margin-left: 0.1px;
    }
    
}

@media only screen and (max-height: 865px) {
    .wall-sticker {
        font-size: 5rem;
        padding: 7rem 20rem 2rem 3rem !important;
    }
}

